* {
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #202020;
    margin: 0;
}
header{
    background-color: #303030;
    min-height: 50px;
}